<%= form_with(model: @school, local: true) do |form| %>
<% if @school.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>
  <ul>
    <% @school.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control", autofocus: true %>
</div>

<div class="form-group">
  <%= form.label :address %>
  <%= form.text_area :address, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :owner_id %>
  <%= form.collection_select :owner_id, User.available_school_admin, :id ,:first_name, { prompt: true }, class: "form-control"%>
</div>

<div class="form-actions">
  <%= form.submit class: "btn btn-primary" %>
</div>
<% end %>
